<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">    
<head>    
<title>Rental Details</title>    
<meta charset="utf-8">
<link th:href="@{/css/main.css}" rel="stylesheet" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> 
</head>    
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Student Deck</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a th:href="@{/addRental}">Add Apartment Listing</a></li>
                <li><a th:href="@{/viewMyListings}">View My Listings</a></li>
				<li class="active"><a href="#">Notifications</a></li>
				<li><a th:href="@{/viewRentalInquiry}">Rental Inquries</a></li>
				<li><a th:href="@{/landlordProfile}">My Profile</a></li>
				<li><a th:href="@{/logout}">Logout</a></li>
              </ul>
            </div>
          </nav>
          
        <div class="header row-1">
            Notifications
        </div>
        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
            <div class="wrapper wrapper--w680">
                <div class="card card-4">
                    <div class="card-body">
						<ul> 
							<li th:each="notification : ${notifications}" th:text=" ${notification?.notification}"></li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>  